@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    /* ZI DE IARNA: Gradient albastru deschis */
    background: linear-gradient(to bottom, #aaccff, #dceeff);
    font-family: 'Quicksand', sans-serif;
    user-select: none;
    color: white;
}

#game-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #c0392b;
    font-size: 24px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border: 2px solid #e74c3c;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 62, 80, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: all;
    color: white;
    transition: opacity 0.5s;
    z-index: 10;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #e74c3c;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

p {
    font-size: 1.5em;
    margin: 20px 0;
    max-width: 80%;
}

.win-msg {
    color: #ffeaa7; 
    font-weight: bold; 
    font-size: 1.8em;
}

.controls-hint {
    font-size: 1.1em;
    background: rgba(255,255,255,0.15);
    padding: 15px 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    border: 1px solid rgba(255,255,255,0.3);
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 1.3em;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    box-shadow: 0 8px 20px rgba(231, 76, 60, 0.4);
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    transform: translateY(-3px) scale(1.05);
    background-color: #d63031;
}

.love-msg {
    position: absolute;
    color: #ff7675;
    font-family: 'Pacifico', cursive;
    font-size: 2.8em;
    text-shadow: 3px 3px 0px rgba(255,255,255,0.8);
    animation: floatUp 4.5s forwards ease-out;
    pointer-events: none;
    width: 100%;
    text-align: center;
    top: 65%;
}

@keyframes floatUp {
    0% { transform: translateY(0) scale(0.8) rotate(-2deg); opacity: 0; }
    15% { opacity: 1; transform: translateY(-40px) scale(1.1) rotate(2deg); }
    100% { transform: translateY(-300px) scale(0.9) rotate(-5deg); opacity: 0; }
}